server:
  port: ${SERVER_PORT:8005}

springdoc:
  api-docs:
    enabled: true
    path: /api/v1/intraOralBill/api-docs
  swagger-ui:
    enabled: true
    path: /api/v1/intraOralBill/api-docs/swagger-ui.html

spring:
  application:
    name: ${SERVICE_NAME:IntraOralBillService}
  profiles:
    active: ${ACTIVE_PROFILE:nitro-dev} #nitro-dev or desktop-prod or macc-prod or nitro-kub-prod
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/DocMACCdbBill
    password: Qwerty.12345 #change this to your database username
    username: root #change this to your database password
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.springframework.orm.jpa.vendor.Database.MYSQL
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update # update or create
    properties:
      hibernate:
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

item:
  request:
    api:
      intraoralExaminationGetList: /api/v1/intraoral/{profileId}

resilience4j:
  circuitbreaker:
    instances:
      externalIntraoralExamination:
        event-consumer-buffer-size: 10
        registerHealthIndicator: true
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED